<h1>Chatroom</h1>

<ul class="chat">
</ul>

<input type="text" id="color" value="#000000", placeholder="Enter a hex color" />
<input type="text" id="name" value="Default Name", placeholder="Enter a screenname" />
<input type="text" id="message" placeholder="Mesage" />
<button id="send">Send</button>
